<router-outlet />

<div class="carousel-container">
  <button mat-button class="nav-button left" (click)="prev()">
    ◀
  </button>

  <div class="carousel-wrapper">
    <div class="carousel" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
      <mat-card class="carousel-item" *ngFor="let image of images">
        <img [src]="image" alt="Imagem do Carrossel">
      </mat-card>
    </div>
  </div>

  <button mat-button class="nav-button right" (click)="next()">
    ▶
  </button>
</div>